.MidDiv {
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: center;
}
.MidDiv_elm {
  color: #ff5a60;
  font-size: 35px;
  text-align: center;
  font-family: "Raleway", sans-serif !important;
  font-weight: 500;
  margin: 50px;
}
