.header {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  transition: 1px;
  z-index: 1300;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.logo {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 1px;
  color: white;
}
